<div class="row">
    <div class="col text-center">
        <img class="img-thumbnail rounded-circle" width="200" src="img/budiono.png" alt="Budiono">
        <h1 class="display-4">Budiono</h1>
        <p class="lead">Web Developer | Mobile Developer</p>
    </div>
</div>